@font-face {
    font-family: "Cabin Sketch-Regular";
    src: url(../css/fonts/Cabin_Sketch/CabinSketch-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Cabin Sketch-Bold";
    src: url(../css/fonts/Cabin_Sketch/CabinSketch-Bold.ttf) format("truetype");
}

html {
    font-family: "Cabin Sketch-Regular", sans-serif;
}

header {
    background: url(../images/5172066.jpg);
    background-size: cover;
    background-position: bottom;
    font-family: "Cabin Sketch-Bold";
    width: 40vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

main {
    background-color: rgb(238,237,240);
    width: 40vw;
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: brown;
    width: 90%;
    height: 98%;
}

.general_presentation {
    background-color: gold;
    width: 90%;
    height: 18%;
    margin: 5%;
    padding: 3%;
}

.general_presentation h2 {
    font-weight: bold;
    font-size: 2em;
    padding: 0 0 3% 0;
}

.general_presentation h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 3% 4%;
    text-decoration: underline;
}

.general_presentation p {
    font-size: 1em;
    margin: 0 0 0 4%;
}

.general_presentation a:hover {
    color: blue;
    font-weight: bold;
}

section .experiences {
    background-color: crimson;
    width: 90%;
    height: 35%;
    margin: 5%;
    display: flex;
}

.formation {
    background-color: darkmagenta;
    width: 50%;
    height: 91%;
    margin: 5%;
    padding: 3%;
    background-image: url(../images/49411.jpg);
    background-size: cover;
    background-position: top 3%;
    text-align: center;
}

.formation-title {
    font-weight: bold;
    font-size: 2em;
    border: 1px solid black;
    text-align: center; 
}

.formation-item {
    margin-top: 5%;
    color: black;
    font-weight: bold;
    padding: 3%;
    background: white;
    opacity: 0.8;
}

.formation-item-date, .formation-item-diploma, .formation-item-place {
    padding: 2%;
    margin-bottom: 2%;
}

.formation-item-date {
    text-shadow: 5px 5px 10px blue;
}

.professional {
    background-color: cornflowerblue;
    width: 50%;
    height: 80%;
    margin: 5%;
}

.competences {
    background-color: cadetblue;
    width: 90%;
    height: 25%;
    margin: 5%;
}

.hobbies {
    background-color: chocolate;
    width: 90%;
    height: 10%;
    margin: 5%;

}

footer {
    background-color: aquamarine;
    width: 40vw;
    height: 15vh;
}